<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add_modal"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Nomer Surat</th>
            <th>Tanggal Diterima</th>
            <!-- <th>Tanggal Surat</th> -->
            <th>Asal Surat</th>
            <th>Tujuan</th>
            <th>Keterangan</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < surat.length; i++ ) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= surat[i].noSurat %></td>
            <td><%= surat[i].tglTerima %></td>
            <!-- <td><%= surat[i].tglSurat %></td> -->
            <td><%= surat[i].asalSurat %></td>
            <td><%= surat[i].tujuan %></td>
            <td><%= surat[i].keterangan %></td>

            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Button group with nested dropdown"
              >
                <div class="btn-group btn-group-sm" role="group">
                  <button
                    id="btnGroupDrop1"
                    type="button"
                    class="btn btn-info dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a
                      class="dropdown-item"
                      href="/admin/surat-masuk/<%= surat[i].id %>"
                      >Detail | Edit</a
                    >
                    <form
                      action="/admin/surat-masuk/<%= surat[i].id %>?_method=DELETE"
                      method="post"
                    >
                      <button type="submit" class="dropdown-item">Hapus</button>
                    </form>
                  </div>
                </div>
              </div>
              <a
                href="/admin/surat-masuk/disposisi/<%= surat[i].id %>"
                class="btn btn-primary btn-circle btn-sm"
              >
                <i class="fas fa-plus"></i
              ></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
